pywebview>=6.2.1
pystray>=0.19.5
winrt-Windows.Media.Control>=3.2.1
winrt-Windows.Storage.Streams>=3.2.1
winrt-Windows.Foundation>=3.2.1
winrt-Windows.Foundation.Collections>=3.2.1
winrt-runtime>=3.2.1
httpx>=0.28.1
Pillow>=10.0.0
