altgraph==0.17.5
anyio==4.14.2
bottle==0.13.4
certifi==2026.7.22
cffi==2.1.1
clr_loader==0.3.1
darkdetect==0.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.19
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
proxy_tools==0.1.0
pycparser==3.0
pyinstaller==6.22.2
pyinstaller-hooks-contrib==2026.7
PyQt6==6.11.0
PyQt6-Fluent-Widgets==1.11.3
PyQt6-Frameless-Window==0.8.2
PyQt6-Qt6==6.11.2
PyQt6_sip==13.12.0
pystray==0.19.5
pythonnet==3.1.0
pywebview==6.2.1
pywin32==312
pywin32-ctypes==0.2.3
qasync==0.28.0
setuptools==84.0.0
six==1.17.0
typing_extensions==4.16.0
winrt-runtime==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Media.Control==3.2.1
winrt-Windows.Storage.Streams==3.2.1
